html,body {
    height: 100%;
}

body{
    background-color: dimgray;
    background-image: url(../media/wp1987758.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    height: 70%;
    width: 25%;
    background-color: darkorchid;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 5px;
    box-sizing: border-box;
}

#answer_row {
    height: 10%;
    margin: 20% 0px;
}

#answer {
    width: 80%;
    height: 100%;
    margin: 30px 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px black;
    font-size: 2.5em;
    text-align: right;
    background-image: url(../media/20191017_093818.jpg);
    background-size: cover;
    background-position: center;
    color: hotpink;

}

#number_block {
    width: 90%;
    height: 80%;
    margin: auto;
}

.number_row {
    height: 23%;
    text-align: center;
}

button {
    height: 80%;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px black;
    background-image: url(../media/rooBobble.gif);
    background-size: cover;
    background-position: center;
    color: darkmagenta;
    font-size: 2.5em;
    cursor: pointer;
}